go 1.25.3

use (
	./gen
	./common
	./app/facade
	./app/admin
	./app/user
	./app/member
	./app/crm
	./app/order
	./app/product
	./app/test
	./app/system
	./app/hardware
	./app/message

)

replace github.com/apache/thrift => github.com/apache/thrift v0.13.0
